h1 {
  font-family: "Inter";
  font-weight: 800;
  color: black;
}

#toolH1 {
  font-size: 48pt;
  line-height: 48pt;
}

h3 {
  font-family: "Inter";
  font-weight: 700;
  color: black;
}

a {
  color: color(smBlue);
}

a:hover {
  text-decoration: none;
}

.navLink {
  font-family: "Inter";
  font-weight: 500;
  color: black;
  font-size: 11pt;
}

.navLink:hover {
  color: color(smBlue);
}

#landingHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1400px;
  margin: auto;
  padding-top: 100px;
}

#landingHeader #titleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}

#landingHeader #titleBlock #landingH1 {
  font-size: 48pt;
  line-height: 48pt;
  color: #1b94ff;
}

#landingHeader #titleBlock p {
  font-weight: 700;
  font-size: 22pt;
  line-height: 22pt;
  color: black;
}

#landingHeader #landingTopicNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#landingHeader #landingTopicNavigation h3 {
  font-family: "Inter";
  font-weight: 700;
  color: black;
  font-size: 18pt;
}

#landingHeader #landingTopicNavigation #tagCloud {
  text-align: center;
}

#landingHeader #landingTopicNavigation #tagCloud .tag {
  font-size: 14pt;
  margin: 5px;
  padding: 10px 20px;
  background-color: #1b94ff;
}

#recentPostsContainer {
  border-radius: 24px;
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  max-width: 1000px;
}

#allPostsPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: auto;
  max-width: 750px;
}

#allPostsPage #allPostsHeader {
  margin-bottom: 25px;
}

#allPostsPage #postFilterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f3f3f3;
  padding: 25px;
  max-width: 750px;
  border-radius: 15px;
}

#allPostsPage #postFilterContainer p {
  margin: auto 10px;
  font-family: "Inter";
  font-weight: 600;
  color: black;
}

#allPostsPage #postFilterContainer .filter {
  margin: 0px 10px;
  padding: 5px 15px;
  background-color: #1b94ff;
}

#resourcesPage #resourcesTitle {
  text-align: center;
  margin-bottom: 50px;
}

#resourcesPage h3 {
  text-align: center;
  padding: 25px;
}

#compInterestCalcPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 50px;
  max-width: 1200px;
}

#headingContainer {
  margin-right: 100px;
  margin-top: 15px;
}

#calcDescription {
  margin-left: 5px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14pt;
  line-height: 18pt;
}

#calculatorBody {
  background-color: #f3f3f3;
  padding: 40px;
  width: 425px;
  border-radius: 25px;
}

#calculatorBody label {
  font-family: "Inter";
  font-weight: 700;
  color: black;
}

#calculatorBody .calcInputField {
  background-color: #e7e7e7;
  border: none;
  text-align: center;
  font-family: monospace;
  font-size: 16pt;
}

#calculatorBody #amountAddedLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -20px;
}

#calculatorBody #amountAddedLabel #toggleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#calculatorBody #amountAddedLabel #toggleBlock p {
  font-family: "Inter";
  font-weight: 500;
}

#calculatorBody #amountAddedLabel #toggleBlock #yearLabel {
  margin-right: 7px;
}

#calculatorBody #calcColumnSplit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#calculatorBody #calcColumnSplit #yearsBlock {
  margin-right: 10px;
}

#calculatorBody #calcColumnSplit #percentBlock {
  margin-left: 10px;
}

#calculatorBody #calcButton {
  font-family: "Inter";
  font-weight: 700;
  font-size: 12pt;
  color: white;
  background-color: #1b94ff;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  width: 345px;
}

#calculatorBody #futureValueDiv {
  background-color: white;
  border-radius: 7px;
  height: 65px;
}

.topicLabel {
  text-align: center;
  font-family: "Inter";
  font-weight: 800;
  font-size: 16pt;
  color: #1b94ff;
}

.topicHeader {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navBar {
    height: 50px;
  }
  #blogLink {
    margin-right: -20px;
  }
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar {
  border-radius: 0px 0px 15px 15px;
  background-color: #f3f3f3;
  margin-bottom: 50px;
}

.navBrand {
  font-family: "Inter";
  font-weight: 700;
  color: black;
  font-size: 14pt;
  padding: 0;
  margin: 0;
}

.navBrand .navBrandDot {
  color: #1b94ff;
}

.toggleContainer {
  background-color: #1b94ff;
  height: 18px;
  width: 30px;
  padding: 0;
  margin: 0;
}

.toggleIcon {
  font-size: 22px;
  color: white;
  margin-top: -4px;
}

.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f3f3f3;
  border-radius: 15px 15px 0px 0px;
}

.footerLeftColumn {
  line-height: 0;
  margin: 40px;
  margin-bottom: 30px;
}

.footerLeftColumn p {
  color: #1b94ff;
}

.footerLeftColumn #copyright {
  color: grey;
  font-size: 10pt;
}

.recentPostsContainer {
  margin: 50px;
}
/*# sourceMappingURL=App.css.map */