//Main Styles - Imported Partials

//1-Basics
@import "1-Basics/fonts";
@import "1-Basics/colors";
@import "1-Basics/page";

//2-Pages
@import "2-Pages/home";
@import "2-Pages/resources";
@import "2-Pages/compoundInterestCalculator";

@media only screen and (min-width: 768px) {
  .navBar {
    height: 50px;
  }

  #blogLink {
    margin-right: -20px;
  }
}

.dropdown {
  display: flex;
}

.navBar {
  border-radius: 0px 0px 15px 15px;
  background-color: #f3f3f3;
  margin-bottom: 50px;
}

.navBrand {
  font-family: "Inter";
  font-weight: 700;
  color: black;
  font-size: 14pt;
  padding: 0;
  margin: 0;

  .navBrandDot {
    color: color(smBlue);
  }
}

.toggleContainer {
  background-color: color(smBlue);
  height: 18px;
  width: 30px;
  padding: 0;
  margin: 0;
}

.toggleIcon {
  font-size: 22px;
  color: color(white);
  margin-top: -4px;
}

.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: #f3f3f3;
  border-radius: 15px 15px 0px 0px;
}

.footerLeftColumn {
  line-height: 0;
  margin: 40px;
  margin-bottom: 30px;

  p {
    color: color(smBlue);
  }

  #copyright {
    color: grey;
    font-size: 10pt;
  }
}

.recentPostsContainer {
  margin: 50px;
}
