@font-face {
  font-family: "InterBold";
  src: local("InterBold"), url("../../fonts/Inter-Bold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterExtraBold";
  src: local("InterExtraBold"), url("../../fonts/Inter-ExtraBold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterBlack";
  src: local("InterBlack"), url("../../fonts/Inter-Black.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterBlackItalic";
  src: local("InterBlackItalic"), url("../../fonts/Inter-BlackItalic.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterBoldItalic";
  src: local("InterBoldItalic"), url("../../fonts/Inter-BoldItalic.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterExtraBoldItalic";
  src: local("InterExtraBoldItalic"), url("../../fonts/Inter-ExtraBoldItalic.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterExtraLight";
  src: local("InterExtraLight"), url("../../fonts/Inter-ExtraLight.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterExtraLightItalic";
  src: local("InterExtraLightItalic"), url("../../fonts/Inter-ExtraLightItalic.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterItalic";
  src: local("InterItalic"), url("../../fonts/Inter-Italic.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterLight";
  src: local("InterLight"), url("../../fonts/Inter-Light.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterLightItalic";
  src: local("InterLightItalic"), url("../../fonts/Inter-LightItalic.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"), url("../../fonts/Inter-Medium.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterMediumItalic";
  src: local("InterMediumItalic"), url("../../fonts/Inter-MediumItalic.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"), url("../../fonts/Inter-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterSemiBold";
  src: local("InterSemiBold"), url("../../fonts/Inter-SemiBold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterSemiBoldItalic";
  src: local("InterSemiBoldItalic"), url("../../fonts/Inter-SemiBoldItalic.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterThin";
  src: local("InterThin"), url("../../fonts/Inter-Thin.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterThinItalic";
  src: local("InterThinItalic"), url("../../fonts/Inter-ThinItalic.otf") format("opentype");
  font-weight: normal;
}

h1 {
  font-family: "InterExtraBold", Helvetica, sans-serif;
  color: black;
}

#toolH1 {
  font-size: 48pt;
  line-height: 48pt;
}

h3 {
  font-family: "InterBold";
  color: black;
}

a {
  color: color(smBlue);
}

a:hover {
  text-decoration: none;
}

.navLink {
  font-family: "InterSemiBold";
  color: black;
  font-size: 11pt;
}

.navLink:hover {
  color: color(smBlue);
}

#fauxMenu {
  background-color: #f3f3f3;
  border-radius: 0px 0px 15px 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
}

#fauxMenu h3 {
  font-size: 16pt;
  margin: auto 25px;
}

#fauxMenu #splashDotSpan {
  color: #1b94ff;
}

#splashContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
}

#splashContainer #smSplashLogo {
  height: 100px;
  margin-bottom: 10px;
}

#splashContainer #splashTitle {
  font-family: "InterSemiBold";
  font-size: 24pt;
  margin: 25px;
  text-align: center;
}

#landingHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1400px;
  margin: auto;
  padding-top: 100px;
}

#landingHeader #titleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}

#landingHeader #titleBlock #landingH1 {
  font-size: 48pt;
  line-height: 48pt;
  color: #1b94ff;
}

#landingHeader #titleBlock p {
  font-family: "InterBold";
  font-size: 22pt;
  line-height: 22pt;
  color: black;
}

#landingHeader #landingTopicNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 75px;
}

#landingHeader #landingTopicNavigation h3 {
  font-family: "InterExtraBold";
  color: black;
  font-size: 18pt;
}

#landingHeader #landingTopicNavigation #tagCloud {
  text-align: center;
}

#landingHeader #landingTopicNavigation #tagCloud .tag {
  font-size: 14pt;
  margin: 5px;
  padding: 10px 20px;
  background-color: #1b94ff;
}

.recentPostCards {
  border-radius: 20px;
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 40px #d9d9d9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 40px #d9d9d9, -20px -20px 60px #ffffff;
  width: 300px;
  padding: 20px 25px;
  margin-top: 35px;
}

.recentPostCards .cardArticleTitle {
  font-family: "InterBold";
  font-size: 16pt;
}

.recentPostCards .cardArticleExcerpt {
  font-family: "InterRegular";
  font-weight: 400;
  margin-bottom: 10px;
}

.recentPostCards .cardReadMore {
  font-family: "InterSemiBold";
  font-weight: 500;
  color: #1b94ff;
  margin-bottom: 10px;
}

#allPostsPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: auto;
  max-width: 800px;
}

#allPostsPage #allPostsHeader {
  margin: 25px 20px;
}

#allPostsPage #postFilterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f3f3f3;
  padding: 20px;
  margin: 0px 15px;
  max-width: 800px;
  border-radius: 15px;
}

#allPostsPage #postFilterContainer p {
  margin: auto 10px;
  font-family: "InterSemiBold";
  color: black;
}

#allPostsPage #postFilterContainer .filter {
  margin: 5px 10px;
  padding: 5px 15px;
  background-color: #1b94ff;
  font-size: 12pt;
}

#resourcesPage #resourcesTitle {
  text-align: center;
  margin-bottom: 50px;
}

#resourcesPage h3 {
  text-align: center;
  padding: 25px;
}

#compInterestCalcPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 50px;
  max-width: 1200px;
}

#headingContainer {
  margin-right: 100px;
  margin-top: 15px;
}

#calcDescription {
  margin-left: 5px;
  font-family: "InterRegular";
  font-size: 14pt;
  line-height: 18pt;
}

#calculatorBody {
  background-color: #f3f3f3;
  padding: 40px;
  width: 425px;
  border-radius: 25px;
}

#calculatorBody label {
  font-family: "InterBold";
  color: black;
}

#calculatorBody .calcInputField {
  background-color: #e7e7e7;
  border: none;
  text-align: center;
  font-family: monospace;
  font-size: 16pt;
}

#calculatorBody #amountAddedLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -20px;
}

#calculatorBody #amountAddedLabel #toggleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#calculatorBody #amountAddedLabel #toggleBlock p {
  font-family: "InterSemiBold";
}

#calculatorBody #amountAddedLabel #toggleBlock #yearLabel {
  margin-right: 7px;
}

#calculatorBody #calcColumnSplit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#calculatorBody #calcColumnSplit #yearsBlock {
  margin-right: 10px;
}

#calculatorBody #calcColumnSplit #percentBlock {
  margin-left: 10px;
}

#calculatorBody #calcButton {
  font-family: "InterBold";
  font-size: 12pt;
  color: white;
  background-color: #1b94ff;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  width: 345px;
}

#calculatorBody #futureValueDiv {
  background-color: white;
  border-radius: 7px;
  height: 65px;
}

.topicLabel {
  text-align: center;
  font-family: "InterExtraBold";
  font-size: 16pt;
  color: #1b94ff;
}

.topicHeader {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navBar {
    height: 50px;
  }
  #blogLink {
    margin-right: -20px;
  }
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar {
  border-radius: 0px 0px 15px 15px;
  background-color: #f3f3f3;
  margin-bottom: 50px;
}

.navBrand {
  font-family: "InterExtraBold";
  color: black;
  font-size: 14pt;
  padding: 0;
  margin: 0;
}

.navBrand .navBrandDot {
  color: #1b94ff;
}

.toggleContainer {
  background-color: #1b94ff;
  height: 18px;
  width: 30px;
  padding: 0;
  margin: 0;
}

.toggleIcon {
  font-size: 22px;
  color: white;
  margin-top: -4px;
}

.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f3f3f3;
  border-radius: 15px 15px 0px 0px;
}

.footerLeftColumn {
  line-height: 14pt;
  margin: 20px;
  margin-bottom: 30px;
}

.footerLeftColumn p {
  color: #1b94ff;
}

.footerLeftColumn #copyright {
  color: grey;
  font-size: 10pt;
}

.recentPostsContainer {
  margin: 50px;
}
/*# sourceMappingURL=App.css.map */