// Inter Import
@font-face {
  font-family: "InterBold";
  src: local("InterBold"), url("../../fonts/Inter-Bold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "InterExtraBold";
  src: local("InterExtraBold"),
    url("../../fonts/Inter-ExtraBold.otf") format("opentype");
  font-weight: normal;
}

h1 {
  font-family: "InterExtraBold", Helvetica, sans-serif;
  color: black;
}

#toolH1 {
  font-size: 48pt;
  line-height: 48pt;
}

h3 {
  font-family: "Inter";
  font-weight: 700;
  color: black;
}

a {
  color: color(smBlue);
}

a:hover {
  text-decoration: none;
}

.navLink {
  font-family: "Inter";
  font-weight: 500;
  color: black;
  font-size: 11pt;
}

.navLink:hover {
  color: color(smBlue);
}
