h1 {
  font-family: "Inter";
  font-weight: 800;
  text-align: center;
}

.navLink {
  font-family: "Inter";
  font-weight: 500;
  color: black;
  font-size: 11pt;
}

.navLink:hover {
  color: color(smBlue);
}
