h1 {
  font-family: "Inter";
  font-weight: 800;
  color: black;
}

#toolH1 {
  font-size: 48pt;
  line-height: 48pt;
}

h3 {
  font-family: "Inter";
  font-weight: 700;
  color: black;
}

a {
  color: color(smBlue);
}

a:hover {
  text-decoration: none;
}

.navLink {
  font-family: "Inter";
  font-weight: 500;
  color: black;
  font-size: 11pt;
}

.navLink:hover {
  color: color(smBlue);
}
