#allPostsPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  max-width: 800px;

  #allPostsHeader {
    margin: 25px 20px;
  }
  #postFilterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    padding: 20px;
    margin: 0px 15px;
    max-width: 800px;
    border-radius: 15px;

    p {
      margin: auto 10px;
      font-family: "InterSemiBold";
      color: black;
    }

    .filter {
      margin: 5px 10px;
      padding: 5px 15px;
      background-color: color(smBlue);
      font-size: 12pt;
    }
  }
}
