#compInterestCalcPage {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 50px;
  max-width: 1200px;
}

#headingContainer {
  margin-right: 100px;
  margin-top: 15px;
}

#calcDescription {
  margin-left: 5px;
  font-family: "InterRegular";
  font-size: 14pt;
  line-height: 18pt;
}

#calculatorBody {
  background-color: #f3f3f3;
  padding: 40px;
  width: 425px;
  border-radius: 25px;

  label {
    font-family: "InterBold";
    color: black;
  }

  .calcInputField {
    background-color: #e7e7e7;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    text-align: center;
    font-family: monospace;
    font-size: 16pt;
  }

  #amountAddedLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;

    #toggleBlock {
      display: flex;

      p {
        font-family: "InterSemiBold";
      }

      #yearLabel {
        margin-right: 7px;
      }
    }
  }

  #calcColumnSplit {
    display: flex;

    #yearsBlock {
      margin-right: 10px;
    }
    #percentBlock {
      margin-left: 10px;
    }
  }

  #calcButton {
    font-family: "InterBold";
    font-size: 12pt;
    color: white;
    background-color: color(smBlue);
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 345px;
  }

  #futureValueDiv {
    background-color: white;
    border-radius: 7px;
    border: none;
    width: 100%;
    height: 65px;
    text-align: center;
    font-family: monospace;
    font-weight: 500;
    // font-style: oblique;
    color: black;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
