#compInterestCalcPage {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 50px;
  max-width: 1200px;
}

#headingContainer {
  margin-right: 100px;
  margin-top: 15px;
}

#calcDescription {
  margin-left: 5px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14pt;
  line-height: 18pt;
}

#calculatorBody {
  background-color: #f3f3f3;
  padding: 40px;
  width: 425px;
  border-radius: 25px;

  label {
    font-family: "Inter";
    font-weight: 700;
    color: black;
  }

  .calcInputField {
    background-color: #e7e7e7;
    border: none;
    text-align: center;
    font-family: monospace;
    font-size: 16pt;
  }

  #calcColumnSplit {
    display: flex;

    #yearsBlock {
      margin-right: 10px;
    }
    #percentBlock {
      margin-left: 10px;
    }
  }

  #calcButton {
    font-family: "Inter";
    font-weight: 700;
    font-size: 12pt;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 345px;
  }

  #futureValueDiv {
    background-color: white;
    border-radius: 7px;
    height: 65px;
  }
}
